@import 'variables';

h1, h2, h3, h4, h5, h6 {
  color: $color-principal !important;
  text-transform: uppercase !important;
  font-weight: 700;
}

small {
  color: $color-secundario !important;
  text-transform: uppercase;
  text-align: center;
}
